[#assign liferayUrl = '']
[#assign languageId = '']
[#if themeDisplay??]
   [#assign liferayUrl = themeDisplay.portalURL]
   [#assign languageId = themeDisplay.languageId?replace('_','-')]
[/#if]
<liferay-ai-commerce-accelerator-frontend
  liferay-hosted="true"
  liferay-url="${liferayUrl}"
  locale-code="${languageId}"
  microservice-url="${configuration.microserviceUrl}"
  title="${configuration.title}"
  subtitle="${configuration.subtitle}"
  ws-logging-level="${configuration.wsLoggingLevel}"
  polling-pelay="${configuration.pollingDelay}"
/>
