**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-dsk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
.vscode
fragments/**/*.css

/client-extensions/ai-commerce-accelerator-microservice/logs
/client-extensions/ai-commerce-accelerator-frontend/logs
/.gemini/settings.json
client-extensions/ai-commerce-accelerator-microservice/data/workflows.db*
package-lock.json
*.png
*.xml
*.heic
.env
